<section class="content" ng-controller="newPropisContoller">

	<div class="row">
		<!-- left column -->
		<div class="col-md-6">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Propis</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form">
					<div class="box-body">
						<div class="form-group">
							<label for="exampleInputEmail1">Naziv</label> <input type="text"
								ng-model="propis_naziv" class="form-control"
								id="exampleInputEmail1" placeholder="Naziv">
						</div>
						<div class="form-group">
							<label>Deo</label>
							<div class="info-box bg-white" ng-repeat="deo in delovi">{{deo.deo_naziv}}</div>
						</div>
					</div>
					<!-- /.box-body -->


				</form>
			</div>
			<!-- /.box -->

			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Deo</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form">
					<div class="box-body">
						<div class="form-group">
							<label for="exampleInputEmail1">Naziv</label> <input type="text"
								ng-model="deo_naziv" class="form-control"
								id="exampleInputEmail1" placeholder="Naziv">
						</div>
						<input type="checkbox" name="gender" ng-model="glavaChecked">Glava</input> 
						<input type="checkbox" name="gender" ng-model="clanChecked">Clan</input>

						
						<div class="form-group">
							<div ng-show="glavaChecked && !clanChecked" class="form-group">
								<label>Glava</label>
								<div class="info-box bg-white" ng-repeat="glava in glave">{{glava.glava_naziv}}</div>
							</div>
							<div ng-show="clanChecked && !glavaChecked"  class="form-group">
								<label>Clan</label>
								<div class="info-box bg-white" ng-repeat="clan in clanovi">{{clan.clan_naziv}}</div>
							</div>
						</div>

					</div>
					<!-- /.box-body -->


				</form>
			</div>
			<div class="box box-primary" ng-show="glavaChecked && !clanChecked">
				<div class="box-header with-border">
					<h3 class="box-title">Glava</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form">
					<div class="box-body">
						<div class="form-group">
							<label for="exampleInputEmail1">Naziv</label> <input type="text"
								ng-model="glava_naziv" class="form-control"
								id="exampleInputEmail1" placeholder="Naziv">
						</div>
						<div class="form-group">
							<div class="form-group">
								<label>Clan</label>
								<div class="info-box bg-white" ng-repeat="glava in glave">{{glava.glava_naziv}}</div>
							</div>
						</div>

					</div>
					<!-- /.box-body -->
				</form>
				
				
				<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Clan</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form">
					<div class="box-body">

						<div class="form-group">
							<label for="exampleInputEmail1">Naziv</label> <input type="text"
								ng-model="clan_naziv" class="form-control"
								id="exampleInputEmail1" placeholder="Naziv">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Opis</label> <input type="text"
								ng-model="clan_opis" class="form-control"
								id="exampleInputEmail1" placeholder="Naziv">
						</div>
						<div class="form-group">
							<label>Sadrzaj</label>
							<div class="info-box bg-white" ng-repeat="sadrzaj in sadrzaji">{{sadrzaj.sadrzaj_tekst}}</div>
						</div>

						</div>
					<!-- /.box-body -->
				</form>
				</div>
				
				
				<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Sadrzaj</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form" class="ng-pristine ng-valid">
					<div class="box-body">

          
						<div class="form-group">
							<label for="exampleInputEmail1">Tekst ______________________________ <a ng-click="sakrijClanove()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span>Ubaci 'Prema clanu'</a> </label> 
							<input type="text" ng-model="sadrzaj_tekst" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="exampleInputEmail1" placeholder="Tekst">
							
						</div>
						<div class="form-group">
							<label>Stav</label>
							<!-- ngRepeat: stav in stavovi -->
						</div>
						
					 <button class="btn btn-block btn-primary col-md-1" ng-click="dodajStav()">Dodaj stav</button>

					</div>
					<!-- /.box-body -->



				</form>
			</div>
			<!-- /.box -->
			<div class="box box-primary" ng-hide="hideStav">
				<div class="box-header with-border">
					<h3 class="box-title">Stav</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form" class="ng-pristine ng-valid">
					<div class="box-body">

						<div class="form-group">
							<label class="ng-binding">Redni broj: </label>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Tekst</label> <input type="text" ng-model="stav_tekst" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="exampleInputEmail1" placeholder="Tekst">
						</div>

					</div>
					<!-- /.box-body -->


				</form>
			</div>
			
				<button type="submit" ng-click="insertPropis()" class="btn btn-primary">Submit</button>
				
			</div>
			
			
			<!-- /.box -->
			<div class="box box-primary" ng-show="clanChecked && !glavaChecked">
				<div class="box-header with-border">
					<h3 class="box-title">Clan</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form">
					<div class="box-body">

						<div class="form-group">
							<label for="exampleInputEmail1">Naziv</label> <input type="text"
								ng-model="clan_naziv" class="form-control"
								id="exampleInputEmail1" placeholder="Naziv">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Opis</label> <input type="text"
								ng-model="clan_opis" class="form-control"
								id="exampleInputEmail1" placeholder="Naziv">
						</div>
						<div class="form-group">
							<label>Sadrzaj</label>
							<div class="info-box bg-white" ng-repeat="sadrzaj in sadrzaji">{{sadrzaj.sadrzaj_tekst}}</div>
						</div>

						</div>
					<!-- /.box-body -->


				</form>
				
				
				<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Sadrzaj</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form" class="ng-pristine ng-valid">
					<div class="box-body">

          
						<div class="form-group">
							<label for="exampleInputEmail1">Tekst ______________________________ <a ng-click="sakrijClanove()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span>Ubaci 'Prema clanu'</a> </label> 
							<input type="text" ng-model="sadrzaj_tekst" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="exampleInputEmail1" placeholder="Tekst">
							
						</div>
						<div class="form-group">
							<label>Stav</label>
							<!-- ngRepeat: stav in stavovi -->
						</div>
						
					 <button class="btn btn-block btn-primary col-md-1" ng-click="dodajStav()">Dodaj stav</button>

					</div>
					<!-- /.box-body -->



				</form>
			</div>
			<!-- /.box -->
			<div class="box box-primary" ng-hide="hideStav">
				<div class="box-header with-border">
					<h3 class="box-title">Stav</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form" class="ng-pristine ng-valid">
					<div class="box-body">

						<div class="form-group">
							<label class="ng-binding">Redni broj: </label>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Tekst</label> <input type="text" ng-model="stav_tekst" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="exampleInputEmail1" placeholder="Tekst">
						</div>

					</div>
					<!-- /.box-body -->


				</form>
			</div>
				
				<button type="submit" ng-click="insertPropisBezGlave()" class="btn btn-primary">Submit</button>
				
				
			</div>
			<!-- /.box -->
			
		</div>

			
		<!-- /.box-body -->

		<div class="col-md-6">
		<div class="box box-primary" ng-hide=hideClanove>
			Odaberite clan na koji ce se odnositi tekst iz sadrzaja

                <div class="box-body">
                  <ul class="products-list product-list-in-box">
                    <li class="item" ng-repeat="propis in propisi">
                      <div class="product-img">
                        <img src="dist/img/nsgrb2.gif" alt="Product Image">
                      </div>
                      <div class="product-info">
                   <h5> <a href="javascript::;" ng-click="getPropisById(propis.id)" class="product-title">{{propis.naziv}}</a> </h5>
                        	<div ng-repeat="deo in propis.deo">
									<div ng-repeat="glava in deo.glava">
										<div ng-repeat="clan in glava.clan">
											<h6><label for="exampleInputEmail1">{{clan.naziv}}</label>
											<button type="submit" ng-click="informacijeOClanu(clan,glava,deo,propis)" class="btn btn-success btn-sm">Info</button>
											<button type="submit" ng-click="dodajReferencuNaOvajClan(clan,glava,deo,propis)" class="btn btn-primary btn-sm">Dodaj</button>
											</h6>
										</div>
									</div>
                   	     	</div>
                      </div>
                    </li><!-- /.item -->
                  </ul>
                </div><!-- /.box-body -->

		</div>
		</div>


	</div>
	<!-- /.box -->
</section>
