<section class="content-header">
          <h1>
            Widgets
            <small>Preview page</small>
          </h1>
</section>

<br/>
<br/>
<br/>

<div class="row">
			<a ng-click="prikaziPropiseUProceduri()">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Propisi</span>
                  <span class="info-box-number">u proceduri</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            </a>
            
            <a ng-click="prikaziPropiseUsvojeneUNacelu()">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                 <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Propisi</span>
                  <span class="info-box-number">usvojeni u nacelu</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
        	</a>
            
            <a ng-click="prikaziPropiseUsvojene()">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                 <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Propisi</span>
                  <span class="info-box-number">usvojeni u celini</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            </a>
            
            <a ng-click="prikaziAmandmane()">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Amandmani</span>
                  <span class="info-box-number">13,648</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
        	</a>
          </div>
          
<div class="row">
			<a ng-click="kreirajPropis()">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Propisi</span>
                  <span class="info-box-number">Kreiraj novi</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
              
            </div><!-- /.col -->
            </a>
            
            <a ng-click="kreirajAmandman()">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Amandman</span>
                  <span class="info-box-number">Kreiraj novi</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            </a>
            
            
          </div>