<section class="content">
	<div class="row">
		<!-- left column -->
		
		<div class="col-md-6">
			
			
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Stav</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form">
					<div class="box-body">

						<div class="form-group">
							<label for="exampleInputEmail1">Tekst</label> <input type="text"
								ng-model="stav_tekst" class="form-control"
								id="exampleInputEmail1" placeholder="Tekst">
						</div>

					</div>
					<!-- /.box-body -->


				</form>
			</div>
			
				<button type="submit" ng-click="insertStav()" class="btn btn-primary">Dodaj clan</button>
			

		</div>
</div>
</section>
