<div align="center" class="row">
	<div align="center" class="col-md-6">
		<div class="box">
			<div class="box-header">
			<div class="pull-left">
						Republika Srbija <br/>
						Narodna skupstina <br/>
						{{amandman.datum | date:'mediumDate'}} <br/>
						{{amandman.mesto}} <br/>
					</div>
				
			</div>
			<div class="box-body">
			
				<h3>Amandman {{amandman.redniBroj}}</h3>
				<br/>
				
				<h4>{{amandman.resenje}} </h4>
					
					<br/>
					<br/>
					<br/>
					
					Obrazlozenje <br/> 
					{{amandman.obrazlozenje}}
					
					<br/>
					<br/>
					
					<div class="pull-right">
						<b>Narodni poslanik</b> <br/>
						{{amandman.podnosilac}}
					</div>
				
			</div>
			
			<!-- /.box-body -->
		</div>
	</div>
	<div align="center" class="col-md-6">
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
		<button type="submit" ng-click="prihvatiAmandman(amandman)" class="btn btn-success">Prihvati amandman</button>
		<button type="submit" ng-click="odbijAmandman(amandman)" class="btn btn-danger">Odbij amandman</button>
	</div>
</div>

<div align="center" class="row">
	
</div>